# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environment
.venv/
env/
venv/

# IDE/editor stuff
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data & outputs (don’t version control raw or generated data)
data/raw_images/
data/ocr_raw.csv
data/parsed_fields.csv
data/labels.csv
data/dataset.csv
data/feedback.csv
data/receipts.db

# Models (generated)
models/*.joblib
models/*.pt
models/*.onnx

# Training outputs
runs/
checkpoints/

# Logs
*.log

# Streamlit & cache
.streamlit/
# GCV
receipt-thesis-backend/credentials/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
